.hero {
	margin-bottom: 843px;
	&__container {
		max-width: 980px; /*950+15+15*/
		margin: 0 auto;
		padding: 0 15px;
	}
	&__link {
		display: block;
		& > *:not(:last-child) {
			margin-bottom: 32px;
		}
		transition: transform 0.5s cubic-bezier(0.725, 0.36, 0.28, 1.65);
		&:hover {
			transform: translateY(-5%);
		}
	}

	&__title {
		font-family: $second-font;
		font-weight: 600;
		font-size: 87px;
		line-height: 114%;
		text-transform: capitalize;
	}
	&__down {
		display: inline-block;
		font-weight: bold;
		font-size: 18px;
		line-height: 24px;
		padding-right: 32px;
		background: url("../img/icons/arrow_down.svg") center right no-repeat;
	}
}
